<% if @item[:pied_de_page] %>
<footer class="footer emailSubscription">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-6 col-md-6">
                <div class="emailSubsriptioninner">
                    <form>
                      <div class="form-row align-items-center">
                        <div class="col-auto">
                          <input type="email" class="form-control mb-2" id="email" placeholder="Email Address" required>
                        </div>							
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary btn-square mb-2">Subscribe</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-3"></div>
        </div>
    </div>
</footer>
<% end %>

<div class="modal fade" id="NewsletterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <form action="https://twitter.us18.list-manage.com/subscribe/post?u=a97cd59c0b0727a5feb488681&amp;id=2775be8aaa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
          <div class="modal-body">
            <p>Be notified about our latest news and upcoming events.<br/>We don't spam.</p>
            <div id="mc_embed_signup">
                    <div class="form-group" id="mc_embed_signup_scroll">
                        <input type="email" value="" name="EMAIL" class="email form-control form-control-sm" id="mce-EMAIL" placeholder="email address" aria-describedby="emailHelp" required>&nbsp;
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_07c0fb790f2f93710a7a39af2_23111b3bbc" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-sm"></div>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </div>
</div>