<!DOCTYPE html>
<html lang="en">
<head>
    <%= render '/head.html' %>
</head>
<body>
    <%= render '/navbar.html' %>
<main class="homesectionarea">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!-- display small logo on small devices -->
                <div class="mieuxvoterlogosmall d-block d-sm-none">
                    <a href="/"><img src="/img/mieuxvoter.svg" class="img-fluid"></a>
                </div>
                <div class="mieuxvoterlogobig"><br/>
                    <a href="/"><img src="/img/mieuxvoter.svg" class="img-fluid"></a><br/><br/>
                    <div class="text-center">
                        <a href="https://twitter.com/mieux_voter" title="Nous suivre sur twitter" target="_blank"><i class="fab fa-twitter fa-2x" style="color:#2943a0;"></i></a>&nbsp;&nbsp;
                        <a href="https://github.com/mieuxvoter" title="Notre code" target="_blank"><i class="fab fa-github fa-2x" style="color:#2943a0;"></i></a>&nbsp;&nbsp;
                        <a href="https://medium.com/mieux-voter" title="Nos actualités" target="_blank"><i class="fab fa-medium fa-2x" style="color:#2943a0;"></i></a>&nbsp;&nbsp;
                        <a href="mailto:contact@mieuxvoter.fr" title="Nous contacter" target="_blank"><i class="far fa-envelope fa-2x" style="color:#2943a0;"></i></a>
                    </div>
                </div>                
            </div>
            <div class="col-sm-9">
                <%= yield %>
            </div>
        </div>
    </div>
</main>
      
<%= render '/footer.html' %>
<%= render '/scripts.html' %>

</body>
</html>