html{
	width:100%;
    position: relative;
    min-height: 100%;
    margin:0;
    padding:0;
}

* {
	margin:0;
	padding:0;
}

* {
-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus{
	outline:none !important;
}

#mc-embedded-subscribe {
    background-color: #2943a0;
}

.bg_mvred {
    background-color: #F1455B;
    border-color: #F1455B;
}
.bg_mvred:hover {
    background-color: #F1455B;
    border-color: #F1455B;
}
.bg_mvblue {
    background-color: #2943a0;
    border-color: #2943a0;
}
.bg_mvblue:hover {
    background-color: #F1455B;
    border-color: #F1455B;
}

@media (min-width: 3000px) {
    .container {
        max-width: 1600px;
    }
}

body{
	
    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height:20px;
	text-align: left;
	margin: 0px auto !important;
	overflow-x: hidden;
	color: #2943a0;
	-webkit-font-smoothing: antialiased;
	width:100%;
	height: auto;
	font-weight: 400;
	background:#fff;
	position:relative;
	margin-bottom:60px;
    min-height: 100%;
}
img{
	max-width:100%;
	border:none;
	height:auto;
	display:inline-block;
}

a{
	text-decoration:none !important;
}
button,
button:hover,
a,
a:hover{
	text-decoration:none !important;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}
a:focus{
	outline:none !important;
}
a:active{
	text-decoration:none !important;
}

textarea:focus, input:focus{
    outline: 0;
}

select:focus{
	outline:none !important;

}

ul{
	padding:0px;
	margin:0px;
	list-style:none;
}

h1{
	font-size:36px;
    font-weight: 700;
}

h2{
	font-size:24px;
    font-weight: 700;
    color: #F1455B;
}

h3{
	font-size:22px;
}

h4{
	font-size:18px;
}

h5{
	font-size:20px;
}

h6{
	font-size:16px;
}

h1,h2,h3,h4,h5,h6{
	margin:10px 0px;
}


p{
	margin-top:0px;
}

.btn.btn-square {
  border-radius: 0;
}

/************************/


.marginRow{
	margin-top:30px;
}

.section_header{
	display: none;
}

/************main css styling here*************/

.logomieuxvoter{}
.logomieuxvoter img{
	width:100%;
	height:100px;
}
.main_navbararea{
    padding:0;
    margin:0;
}
.main_collpasarea{}
.main_collpasarea ul {
	text-align: Center;
	margin: 0px auto;
}
.main_collpasarea ul li{
	margin:0px 10px;
}
.main_collpasarea ul li a {
	font-size: 18px;
	color: #2943a0 !important;
	text-transform: capitalize;
	font-weight: bold;
	position: relative;
	z-index: 10;
}
.main_collpasarea ul li a:hover {
	background-color: #F1455B;
    color: white !important;
}
.main_collpasarea ul li.active a {
    background-color: #F1455B;
    color: white !important;
}

.main_collpasarea ul li.getthenewsbutton{
	margin-right:0px!important;
}

.main_collpasarea ul li.getthenewsbutton a {
	background: #2943a0;
	color: #fff !important;
	padding: 8px 15px !important;
}
.navbar-light .navbar-toggler {
}
.navbar-toggler {
	margin: 10px auto;
}
.homesectionarea{
	padding: 0px 0px;
    min-height: 500px;
}
.mieuxvoterlogobig.main {
    position:relative;
}
.mieuxvoterlogobig{
    position:fixed;
    width:13%;
    margin:0 auto;
    
}
.mieuxvoterTextarea{
    font-size: 16px;
}
.mieuxvoterTextarea h1 {
	text-transform: inherit;
	position:relative;
    margin-bottom: 15px;
}
.mieuxvoterTextarea h2{
	text-transform: inherit;
	position:relative;
    margin-bottom: 15px;
    font-style: italic;
}
.mieuxvoterTextarea h3{
	font-weight: 500;
	text-transform: inherit;
}
.mieuxvoterTextarea .dot {
    color: #F1455B;
}
.mieuxvoterTextarea p{
	padding-left:10px;
    text-align: justify;
    font-size:16px;
}

.mieuxvoterTextarea ol, .mieuxvoterTextarea ul {
    counter-reset: item;
    list-style-type: none;
    padding-left:20px;
    text-align: left;
}
.mieuxvoterTextarea ol li, .mieuxvoterTextarea ul li {
    margin-bottom: 10px;
    margin-left: 5px;
}
.mieuxvoterTextarea ol li:before, .mieuxvoterTextarea ul li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: red;
    font-style: italic;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.emailSubscription{
	background: #2943a0;
	padding:5px 0px;
}
.emailSubsriptioninner{
	text-align: center;
    margin-top: 8px;
}
.emailSubsriptioninner input[type="email"]{
	padding: 10px 15px;
	line-height: 1;
	border:none!important;
	border-radius: 0px;
	text-transform: capitalize;
	margin-bottom:0px!important;
}
.emailSubsriptioninner button {
	color: #2943a0 !important;
	border: none !important;
	padding: 10px 15px;
	line-height: 1;
    font-variant: small-caps;
	margin-bottom:0px!important;
}



/*
=================================
CONNECT PAGE CSS STYLING HERE
=================================
*/
.connectemailsubs {
	padding: 0px 0px;
}
.connectemailtext{
/*
    font-weight: bold;
    font-size: 20px;
*/
}
.connectemailtext p span {
    font-size: 36px;
    font-weight: bold;
}
.connectemailtext p {
	color: #2943a0;
	margin-bottom: 2px;
	line-height: 1Opx;
	text-align: left;
}
.mieuxvoterTextarea button,
.connectemailsubscriptions a {
	background: #2943a0 !important;
	color: #fff !important;
	border: none !important;
	padding: 10px 15px;
	line-height: 1;
	margin-bottom:0px!important;
    font-variant: small-caps;
    font-weight: 700;
}
.mieuxvoterTextarea button.red, .connectemailsubscriptions a.red {
    background: #F1455B !important;
}

.connectemailsubs{
	position: relative;
}

/*
==================================================
		LEARN PAGE STYLING
==================================================
*/

.experttitle{}
.experttitle h2{
	font-weight:700;
}
.singleexpertbox{
	border:1px solid #FFDD00;
	border-radius:0px;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}

.singleexpertbox a{
	color:#222;
	font-style:italic;
	font-size:12px;
}
.singleexpertbox:hover{
	-webkit-box-shadow: 0px 4px 8px -2px gray;
	-moz-box-shadow: 0px 4px 8px -2px gray;
	-ms-box-shadow: 0px 4px 8px -2px gray;
	-o-box-shadow: 0px 4px 8px -2px gray;
	box-shadow: 0px 4px 8px -2px gray;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}


/*
==================================================
		INVEST PAGE STYLING
==================================================
*/
.memberlist{}
.memberlist ul{}
.memberlist ul li{
	list-style-type:disc;
}

/*
=================================
ABOUT PAGE CSS STYLING HERE
=================================
*/
.aboutourus{
	margin-bottom:15px;
}
.{}


/*
================================================
		RESPONSIVE BREAKPOINTS 
================================================
*/


@media (max-width: 575px) { 
    h1, h2, h3, h4, h5 {
        text-align: center;
    }
.homesectionarea {
    padding: 0px 0px;
}
.mieuxvoterlogosmall{
    width:40%;
    margin:0 auto;
}
.mieuxvoterlogobig{
	text-align: center;
    display:none;
}	
.mieuxvoterlogobig img{
	margin:0px auto;
	width:30%;
}
	
.connectmeetupbox{
	margin-bottom:10px;
}	
.main_collpasarea ul li a{
	padding-left:10px!important;
}
	

.singleexpertbox{
	margin-bottom:15px;
}
	
	
.mieuxvoterTextarea h2{
	font-size:20px;
}
.homehalfcolor:after{
	width: 94%;
	height: 60%;
}

.connectemailsubs:after{
    background: none;
}
}


@media (min-width: 576px) and (max-width: 767px) {
.connectemailtext p{
	text-align: left;
}	

.main_collpasarea ul li a{
	padding-left:10px!important;
}
.mieuxvoterTextarea h2{
	font-size:20px;
}		
}


@media (min-width: 768px) and (max-width: 991px) {
.main_collpasarea ul li a{
	padding-left:10px!important;
}	
.mieuxvoterTextarea h2{
	font-size:26px;
}	
}


@media (min-width: 992px) and (max-width: 1199px) {
		
	
}


@media (min-width: 1200px) {...}

@media (min-width: 1400px) {
    .mieuxvoterlogobig {
        width:10%;
    }
}